.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}


.bg {
  display: flex;
  height: 100%;
}


.left {
  width: 40%;
  background: #e53935;
}


.right {
  width: 60%;
  background: url('/img/banner\ 01.png') center/cover no-repeat;
  position: relative;
}


.right::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}


.content {
  position: absolute;
  top: 50%;
  left: 15%; 
  transform: translateY(-50%);
  width: 800px; 
  color: white;
  z-index: 2;
}

.content h1 {
  font-size: 70px;
  font-weight: 800;
  line-height: 1.1;
}

.content p {
  margin: 20px 0;
  font-size: 18px;
}

.btn {
  border: 2px solid white;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 768px) {

  .hero {
    height: auto;
  }

  .bg {
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: 100px;
  }

  .right {
    width: 100%;
    height: 400px;
  }

  .content {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  .content h1 {
    font-size: 32px;
  }

  .content p {
    font-size: 16px;
  }
}